{% extends "DroneCustomer/base.html" %}
{% load static %}
{% block content %}
    <div class="container mx-auto p-4 pt-8" style="padding-top: 2rem;">
        <!-- Account Info Section -->
        <section id="account-info" class="mb-4 p-4 rounded-lg shadow-lg" style="background-color: white;">
            <h2 class="text-2xl font-bold mb-3" style="color: #CDB4DB;">Account Information</h2>
            <p class="mb-2"><span class="font-bold" style="color: #CDB4DB;">Email:</span> {{ user.email }}</p>
            <p class="mb-2"><span class="font-bold" style="color: #CDB4DB;">Total Orders:</span> {{ total_orders }}</p>
            <button type="button" id="edit-account-info" class="py-2 px-4 rounded font-bold mb-2" style="background-color: #FFC8DD; color: white;" onclick="location.href='/edit_account'">Edit Account Information</button>
        </section>

        <!-- Order History Section -->
        <section id="order-history" class="p-4 rounded-lg shadow-lg" style="background-color: white;">
            <h2 class="text-2xl font-bold mb-3" style="color: #CDB4DB;">Order History</h2>
            <table class="min-w-full">
                <thead>
                    <tr class="text-left" style="color: #CDB4DB;">
                        <th class="px-4 py-2">Order Number</th>
                        <th class="px-4 py-2">Date</th>
                        <th class="px-4 py-2">Items</th>
                        <th class="px-4 py-2">Total Price</th>
                        <th class="px-4 py-2">Order Status</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for order in orders %}
                    <tr class="border-b border-gray-200">
                        <td class="px-4 py-2">{{ order.pk }}</td>
                        <td class="px-4 py-2">{{ order.created_at|date:"F j, Y" }}</td>
                        <td class="px-4 py-2">
                            <ul class="list-disc list-inside">
                                {% for cone_info in order.cones %}
                                <li>{{ cone_info.flavor }} - ${{ cone_info.price }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="px-4 py-2">${{ order.get_order_total }}</td>
                        <td class="px-4 py-2">${{ order.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
