<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bodyBackground">
    <div class="navbar">
        <a href="{% url 'index' %}" class="left">
            <img src="{% static 'DroneLogo.png' %}" height="50" width="50" alt="Drone Logo">
        </a>
        <a href="{% url 'account:login' %}" class="right">
            <img src="{% static 'user-account-icon.webp' %}" height="50" width="50" alt="Settings">
        </a>
    </div>

<div class="content" id="app">
    {% block content %}{% endblock %}
</div>
</body>
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          coneCount: 1,
          selectedSize: null,
          menuItems: [],
          toppingItems: [],
          coneItems: [],
          selectedCards: [], // Define the selectedCards array
          selectedConeCards: [], // Define the selectedConeCards array
          selectedToppings: [], // Define the selectedToppings array
          imageBasePath: "{% static '' %}", // Set the base path for images
          cards: [
            { name: 'Vanilla', title: 'Vanilla Ice Cream', description: '5.00' },
            { name: 'Chocolate', title: 'Chocolate Ice Cream', description: '5.50' },
            { name: 'Mint', title: 'Mint Ice Cream', description: '6.00' },
            { name: 'Strawberry', title: 'Strawberry Ice Cream', description: '5.50' },
          ],
          cones: [
            { name: 'WaffleCone', title: 'Waffle Cone', description: '0.00'},
            { name: 'ChocolateCone', title: 'Chocolate Cone', description: '0.50'},
            { name: 'GlutenFreeCone', title: 'Gluten Free Cone', description: '0.50'},
            { name: 'CarmelCone', title: 'Carmel Cone', description: '0.75'},
          ],
          toppings: [
            { name: 'Sprinkles', title: 'Sprinkles', description: '0.50'},
            { name: 'ChocolateDrizzle', title: 'Chocolate Drizzle', description: '0.50'},
            { name: 'CarmelDrizzle', title: 'Carmel Drizzle', description: '0.50'},
            { name: 'BrownieBites', title: 'Brownie Bites', description: '0.75'},
          ],
        },
        methods: {
            fetchData () {
                console.log("test")
                axios.get('{% url 'menu_items_api' %}')  // Use the URL of your API endpoint
                    .then(response => {
                        this.menuItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
                axios.get('{% url 'topping_items_api' %}')  // Use the URL of your API endpoint
                    .then(response => {
                        this.toppingItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
                axios.get('{% url 'cone_items_api' %}')  // Use the URL of your API endpoint
                    .then(response => {
                        this.coneItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
            },
            generateConeOptions() {
                const coneOptions = [];
                for (let i = 0; i < this.coneCount; i++) {
                coneOptions.push({
                    size: null,
                    selectedCards: [],
                    selectedConeCards: [],
                    selectedToppings: [],
                });
                }
                return coneOptions;
            },
          toggleCard(index) {
            const selectedIndex = this.selectedCards.indexOf(index);
            if (selectedIndex === -1) {
              this.selectedCards.push(index);
            } else {
              this.selectedCards.splice(selectedIndex, 1);
            }
            console?.log(this.selectedCards)
          },
          toggleCone(index2) {
            const selectedIndex = this.selectedConeCards.indexOf(index2);
            if (selectedIndex === -1) {
              this.selectedConeCards.push(index2);
            } else {
              this.selectedConeCards.splice(selectedIndex, 1);
            }
            console?.log(this.selectedConeCards);
          },
          toggleTopping(index3) {
            const selectedIndex = this.selectedToppings.indexOf(index3);
            if (selectedIndex === -1) {
              this.selectedToppings.push(index3);
            } else {
              this.selectedToppings.splice(selectedIndex, 1);
            }
            console?.log(this.selectedToppings);
          },
          selectSize(size) {
            this.selectedSize = size;
          },
          submitOrder() {
            const selectedFlavors = this.selectedCards.map(index => this.menuItems[index]);
            const selectedToppings = this.selectedToppings.map(index => this.menuItems[index]);
            const selectedCones = this.selectedConeCards.map(index => this.menuItems[index]);

            const orderData = {
                size: this.selectedSize,
                flavors: selectedFlavors,
                toppings: selectedToppings,
                cones: selectedCones,
                quantity: this.coneCount,
            };
            console.log(orderData)

            axios.post('{% url 'order_create' %}', orderData)
                .then(response => {
                    console.log(response)
                    console.log("PASSED")
                })
                .catch(error => {
                    console.log("DID NOT PASS")
                    console.log(error)
                });
        }
        },
        created() {
            this.fetchData(); // Call the fetchData method when the Vue instance is created
        }
      });
    </script>
</html>