<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bodyBackground">
    <div class="navbar">
        <a href="/dronecone/" class="left">
            <img src="{% static 'DroneLogo.png' %}" height="50" width="50" alt="Drone Logo">
        </a>
        <a href="/dronecone/login/" class="right">
            <img src="{% static 'user-account-icon.webp' %}" height="50" width="50" alt="Settings">
            <h2 class="text-lg text-gray-600">Login</h2>
        </a>
    </div>

<div class="content" id="app">
    {% block content %}{% endblock %}
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
          coneCount: 1,
          selectedSize: null,
          selectedCards: [], // Define the selectedCards array
          selectedConeCards: [], // Define the selectedConeCards array
          selectedToppings: [], // Define the selectedToppings array
          imageBasePath: "{% static '' %}", // Set the base path for images
          cards: [
            { name: 'Vanilla', title: 'Vanilla Ice Cream', description: 'Delicious vanilla flavor' },
            { name: 'Chocolate', title: 'Chocolate Ice Cream', description: 'Rich chocolatey goodness' },
            { name: 'Mint', title: 'Mint Ice Cream', description: 'Refreshing minty taste' },
            { name: 'Strawberry', title: 'Strawberry Ice Cream', description: 'Sweet and fruity' },
          ],
          cones: [
            { name: 'WaffleCone', title: 'Waffle Cone', description: 'A crunchy treat'},
            { name: 'ChocolateCone', title: 'Chocolate Cone', description: 'Rich and Creamy cholate dipped cone'},
            { name: 'GlutenFreeCone', title: 'Gluten Free Cone', description: 'A waffle cone without Gluten'},
            { name: 'CarmelCone', title: 'Carmel Cone', description: 'Sweet Waffle Cone dipped in warm carmel'},
          ],
          toppings: [
            { name: 'Sprinkles', title: 'Sprinkles', description: 'A crunchy treat'},
            { name: 'ChocolateDrizzle', title: 'Chocolate Drizzle', description: 'Rich and Creamy cholate dipped cone'},
            { name: 'CarmelDrizzle', title: 'Carmel Drizzle', description: 'A waffle cone without Gluten'},
            { name: 'BrownieBites', title: 'Brownie Bites', description: 'Sweet Waffle Cone dipped in warm carmel'},
          ],
        },
        methods: {
            generateConeOptions() {
                const coneOptions = [];
                for (let i = 0; i < this.coneCount; i++) {
                coneOptions.push({
                    size: null,
                    selectedCards: [],
                    selectedConeCards: [],
                    selectedToppings: [],
                });
                }
                return coneOptions;
            },
          toggleCard(index) {
            const selectedIndex = this.selectedCards.indexOf(index);
            if (selectedIndex === -1) {
              this.selectedCards.push(index);
            } else {
              this.selectedCards.splice(selectedIndex, 1);
            }
            console?.log(this.selectedCards)
          },
          toggleCone(index2) {
            const selectedIndex = this.selectedConeCards.indexOf(index2);
            if (selectedIndex === -1) {
              this.selectedConeCards.push(index2);
            } else {
              this.selectedConeCards.splice(selectedIndex, 1);
            }
            console?.log(this.selectedConeCards);
          },
          toggleTopping(index3) {
            const selectedIndex = this.selectedToppings.indexOf(index3);
            if (selectedIndex === -1) {
              this.selectedToppings.push(index3);
            } else {
              this.selectedToppings.splice(selectedIndex, 1);
            }
            console?.log(this.selectedToppings);
          },
          selectSize(size) {
            this.selectedSize = size;
          },
          submitOrder() {
          const order = {
            size: this.selectedSize,
            selectedCards: this.selectedCards.map(index => this.cards[index]),
            selectedConeCards: this.selectedConeCards.map(index => this.cones[index]),
            selectedToppings: this.selectedToppings.map(index => this.toppings[index]),
          };
          console?.log(order);
        }
        },
      });
    </script>
</html>