<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    {% csrf_token %}
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bodyBackground">
    <div class="navbar">
        <a href="/dronecone/" class="left">
            <img src="{% static 'DroneLogo.png' %}" height="50" width="50" alt="Drone Logo">
        </a>
        <a href="/dronecone/login/" class="right">
            <img src="{% static 'user-account-icon.webp' %}" height="50" width="50" alt="Settings">
        </a>
    </div>

<div class="content" id="app">
    {% block content %}{% endblock %}
</div>
</body>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          coneCount: 1,
          selectedSize: 'small',
          menuItems: [],
          selectedFlavor: null,
          selectedCone: null,
          toppingItems: [],
          coneItems: [],
          selectedToppings: [], // Define the selectedToppings array
        },
        methods: {
            fetchData () {
                axios.get('/dronecone/menu-items/')  // Use the URL of your API endpoint
                    .then(response => {
                        this.menuItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
                axios.get('/dronecone/topping-items/')  // Use the URL of your API endpoint
                    .then(response => {
                        this.toppingItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
                axios.get('/dronecone/cone-items/')  // Use the URL of your API endpoint
                    .then(response => {
                        this.coneItems = response.data;
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.error('Error fetching menu items', error);
                    });
            },
            toggleCard(index) {
              this.selectedFlavor = this.menuItems[index];
              console.log(this.selectedFlavor);
            },
            toggleCone(index2) {
              this.selectedCone = this.coneItems[index2];
              console.log(this.selectedCone);
            },

          toggleTopping(index3) {
            const selectedIndex = this.selectedToppings.indexOf(index3);
            if (selectedIndex === -1) {
              // Item is not selected, so select it
              this.selectedToppings.push(index3);
            } else {
              // Item is already selected, so deselect it by removing it from the array
              this.selectedToppings.splice(selectedIndex, 1);
            }
            console?.log(this.selectedToppings);
          },
          
          selectSize(size) {
            this.selectedSize = size;
          },
          submitOrder() {
console.log(this.selectedToppings)
const iceCreamConeData = {
  size: this.selectedSize,
  flavor: this.selectedFlavor.id,  // Replace with the actual IceCream flavor ID
  toppings: this.selectedToppings,  // Replace with the actual Topping IDs
  cone: this.selectedCone.id,  // Replace with the actual Cone ID
};

console.log(iceCreamConeData)
const orderData = {
  user: 1,  // Replace with the actual user ID
  drone: null,  // Replace with the actual drone ID if needed
  cones: iceCreamConeData,  // Replace with your order data
  status: 'pending',
};


    // Make a POST request to create the IceCreamCone
axios.post('create_icecreamcone/', iceCreamConeData)
  .then(response => {
    // Handle success
    console.log('IceCreamCone created:', response.data);
  })
  .catch(error => {
    // Handle error
    console.error('Error creating IceCreamCone:', error);
  });
  axios.post('create_orders/', orderData)
  .then(response => {
    // Handle success
    console.log('Order created:', response.data);
  })
  .catch(error => {
    // Handle error
    console.error('Error creating order:', error);
  });

}
        },
        created() {
            this.fetchData(); // Call the fetchData method when the Vue instance is created
        }
      });
    </script>
</html>