{% extends "DroneCustomer/base.html" %}
{% load static %}
{% block content %}
    <div class="container mx-auto p-4">
        <!-- Your Order Section -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <section id="your-order" class="mb-4 p-4 rounded-lg shadow-lg" style="background-color: white;">
            <h2 class="text-2xl font-bold mb-3" style="color: #CDB4DB;">Your Order</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Flavor
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Cone
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Size
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Toppings
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                {{ item.flavor.flavor }}
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                {{ item.cone.name }}
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                {{ item.size|title }}
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                {% for topping in item.toppings %}
                                    {{ topping.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                ${{ item.price }}
                            </td>
                            <td>
                                <form action="{% url 'delete_order' item.order_id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="py-2 px-4 rounded font-bold" style="background-color: #FFAFCC; color: white;">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="font-bold mt-4">Total Price: ${{ total_price }}</p>
        </section>

        <!-- Checkout Form -->
        <form action="{% url 'submit_order' %}" method="post" class="mb-4 p-4 rounded-lg shadow-lg" style="background-color: white;">
            {% csrf_token %}
            <!-- Delivery Address Section -->
            <section id="delivery-address" class="mb-4">
                <h2 class="text-2xl font-bold mb-3" style="color: #CDB4DB;">Delivery Address</h2>
                <div class="form-group mb-4">
                    <label for="full_address" class="block font-bold mb-2" style="color: #CDB4DB;">Full Address</label>
                    <input type="text" name="full_address" id="full_address" class="w-full px-3 py-2 border rounded" placeholder="Enter your full address" required>
                </div>
                <button type="button" id="use-saved-address" class="py-2 px-4 rounded font-bold mb-2" style="background-color: #FFC8DD; color: white;" data-address="{{ address }}">Use Saved Address</button>
            </section>

            <!-- Payment Section (for display only) -->
            <section id="payment" class="mb-4">
                <h2 class="text-2xl font-bold mb-3" style="color: #CDB4DB;">Payment</h2>
                <div class="form-group mb-4">
                    <label for="cardholder_name" class="block font-bold mb-2" style="color: #CDB4DB;">Cardholder Name</label>
                    <input type="text" name="cardholder_name" id="cardholder_name" class="w-full px-3 py-2 border rounded" placeholder="Cardholder Name" required>
                </div>
                <div class="form-group mb-4">
                    <label for="card_number" class="block font-bold mb-2" style="color: #CDB4DB;">Card Number</label>
                    <input type="text" name="card_number" id="card_number" class="w-full px-3 py-2 border rounded" placeholder="Card Number" required>
                </div>
                <div class="form-group mb-4">
                    <label for="expiration_date" class="block font-bold mb-2" style="color: #CDB4DB;">Expiration Date</label>
                    <input type="text" name="expiration_date" id="expiration_date" class="w-full px-3 py-2 border rounded" placeholder="Expiration Date" required>
                </div>
                <div class="form-group mb-4">
                    <label for="cvv" class="block font-bold mb-2" style="color: #CDB4DB;">CVV</label>
                    <input type="text" name="cvv" id="cvv" class="w-full px-3 py-2 border rounded" placeholder="CVV" required>
                </div>
            </section>

            <button type="submit" class="py-2 px-4 rounded font-bold" style="background-color: #FFAFCC; color: white;">Complete Order</button>
        </form>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var useSavedAddressButton = document.getElementById('use-saved-address');
        var addressField = document.getElementById('full_address');

        useSavedAddressButton.addEventListener('click', function() {
            // Retrieve the saved address from the data attribute
            var savedAddress = useSavedAddressButton.getAttribute('data-address');

            // Check if a saved address exists
            if (savedAddress) {
                // Populate the address field with the saved address
                addressField.value = savedAddress;
            } else {
                alert('No saved address found.');
            }
        });
    });
</script>
{% endblock %}
