{% extends 'base.html' %}
{% block css %}
	{{ block.super }}
    <style type="text/tailwindcss">
        @layer utilities {
            #customer-create-form>div>input[type="text"], input[type="number"] {
                @apply rounded-lg w-full py-2 px-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border border-gray-300;
            }
            #customer-create-form > div > select {
                @apply rounded-lg w-full py-2 px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border border-gray-300;
            }

            #customer-create-form > .checkbox > label {
                @apply pointer-events-none;
            }

            #customer-create-form > .checkbox > div > input {
                @apply opacity-0 cursor-pointer absolute z-10 w-[40px] h-[20px];
            }

            #customer-create-form > .checkbox > div > input:checked + span::before {
                @apply bg-indigo-400;
            }

            #customer-create-form > .checkbox > div > input:checked + span::after {
                @apply left-[21px];
            }

            #customer-create-form > .checkbox > div > span {
                @apply pl-[40px];
            }

            #customer-create-form > .checkbox > div > span::before, span::after {
                @apply absolute rounded-[10px] transition-[left] duration-300;
            }

            #customer-create-form > .checkbox > div > span::before {
                @apply content-[""] bg-gray-500 left-0 top-0 h-[20px] w-[40px] rounded-[10px];
            }

            #customer-create-form > .checkbox > div > span::after {
                @apply content-[""] bg-white left-px top-px h-[18px] w-[18px];
            }
        }

    </style>
{% endblock %}

{% block inner %}
    <div class="flex justify-center pt-12">
        <div class="w-full max-w-lg p-6 m-4 bg-white rounded-lg shadow-2xl overflow-auto">
            <h1 class="text-center w-full text-2xl">Drone Form</h1>
            <form method="POST">
                {% csrf_token %}
                <div id="customer-create-form">
                    {% for field in form %}
                        {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="checkbox flex flex-row items-center justify-end pr-6 my-4">
                                <label class="mr-3" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                <div class="relative w-[40px] h-[20px]">
                                    {{ field }}
                                    <span></span>
                                </div>
                            </div>
                        {% else %}
                            <div class="my-4">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="mt-4 flex justify-end w-full">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md transition ease-in-out duration-100 hover:scale-105 hover:bg-green-600">Save</button>
                    <a href="{% url 'manage_my_drone' %}" class="ml-2 px-4 py-2 rounded-md text-gray-500 transition ease-in-out duration-100 hover:scale-105 hover:bg-gray-100">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
