{% extends 'DroneCustomer/manageMyDrone.html' %}

{% block heading %}{{ action_title }} New Drone{% endblock %}

{% block content %}
    <div class="bg-white p-4 rounded-lg">
        <form method="post">
            {% csrf_token %}
            <label class="block font-semibold text-gray-700">Owner:</label>
            {{ form.owner }}

            <label class="block font-semibold text-gray-700">Name:</label>
            {{ form.name }}

            <label class="block font-semibold text-gray-700">Size:</label>
            {{ form.size }}

            <label class="block font-semibold text-gray-700">Weight:</label>
            {{ form.drone_weight_g }}

            <label class="block font-semibold text-gray-700">Battery Capacity:</label>
            {{ form.battery_capacity_mAh }}

            <label class="block font-semibold text-gray-700">Battery Voltage:</label>
            {{ form.battery_voltage }}

            <label class="block font-semibold text-gray-700">Battery Level:</label>
            {{ form.battery_level }}

            <label class="block font-semibold text-gray-700">Drone is Enabled:</label>
            {{ form.enabled }}

            <label class="block font-semibold text-gray-700">Drone is in-flight:</label>
            {{ form.in_flight }}
            <div>
                <button type="submit" class="flex bg-green-500 text-white px-4 py-2 rounded-md mt-2">Save</button>
            </div>
        </form>
    </div>
    <a href="{% url 'manageMyDrone' %}" class="block mt-4">Cancel</a>
{% endblock %}