{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Drone Cones</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen flex items-center justify-center" style="background-image: url('{% static 'Icecreambackground.png' %}'); background-size: cover; background-repeat: no-repeat;">

    <div class="bg-white p-6 rounded-lg shadow-lg; text-center">
        <h1 class="text-4xl mb-4 font-bold" style="color: #CDB4DB;">Drone Owner Sign Up</h1>
        <p>
            Already have an account? Click here to <a href="{% url 'account:login' %}" ><strong>Log in</strong></a>.
        </p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account:drone_owner_creation' %}">
            {% csrf_token %}
            <table class="table-auto w-full">
                <tr>
                    <td class="font-semibold text-gray-700">Username:</td>
                    <td>{{ user_form.username }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Password:</td>
                    <td style="border: 1px solid gray; width:110px; border-radius: 3px;">{{ user_form.password1 }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Confirm Password:</td>
                    <td style="border: 1px solid gray; width:110px; border-radius: 3px;">{{ user_form.password2 }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Email:</td>
                    <td>{{ user_form.email }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Drone Owner:</td>
                    <td>{{ profile_form.drone_owner }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Phone:</td>
                    <td>{{ profile_form.phone }}</td>
                </tr>
                <tr>
                    <td class="font-semibold text-gray-700">Address:</td>
                    <td>{{ profile_form.address }}</td>
                </tr>
            </table>
            
            <button class="btn btn-primary" type="submit"><strong>Sign Up »</strong></button>
        </form>
        <p>Click to <a href="{% url 'account:signup' %}">Register as Customer</a></p>
    </div>

</body>
</html>
