{% extends "DroneCustomer/base.html" %}
{% load static %}
{% block content %}
<div id="app"> 
<div class="text-center">
    <h1 class="text-4xl font-bold">Welcome To Drone Cones</h1>
    <h2 class="text-lg text-gray-600">Get your favorite ice cream cone delivered right to your hand</h2>
</div>

<div class="timer" v-if="countdown >= 0 && orderStatus === 'delivering'">
  <div class="text-center space-y-2">
    <h2 class="text-2xl font-semibold">Time Until Cone Delivery</h2>
    <div class="text-3xl font-bold">
      <span class="mr-1" v-bind:x-text="Math.floor(countdown / 60000)"></span>[[minutes]] minutes
    </div>
  </div>
</div>

<div class="timer" v-if="errorMessage !== null">
  <div class="text-center">
    <h2 class="text-2xl font-semibold">[[errorMessage]]</h2>
  </div>
</div>
<div class="text-center mt-8">
  <h1 class="text-2xl font-semibold">Choose Your Size</h1>
</div>
<div class="size-container text-center">
<div class="size-container">
  <label>
    <input type="radio" v-model="selectedSize" value='small'>
    Small
  </label>
  <label>
    <input type="radio" v-model="selectedSize" value='medium'>
    Medium
  </label>
  <label>
    <input type="radio" v-model="selectedSize" value='large'>
    Large
  </label>
</div>
</div>
<div class="text-center mt-8">
    <h1 class="text-2xl font-semibold">Choose Your Ice Cream Flavor</h1>
</div>
<div class="card-container">
  <div
    v-for="(menuItem, index) in menuItems"
    :key="menuItem.id"
    v-bind:class="{ 'card': true, 'highlighted': selectedFlavor?.flavor === menuItem.flavor, 'disabled': menuItem.qty <= 0 }"
    @click="menuItem.qty > 0 ? toggleCard(index) : null"
  >
    <h3><b>[[ menuItem.flavor ]]</b></h3>
    <p>[[ menuItem.description ]]</p>
    <p>Price: $[[ menuItem.price ]]</p>
  </div>
</div>
<div class="text-center mt-8">
    <h1 class="text-2xl font-semibold">Choose Your Ice Cream Cone</h1>
</div>
<div class="card-container">
  <div v-for="(menuItem, index2) in coneItems" :key="menuItem.id" v-bind:class="{ 'card': true, 'highlighted': selectedCone?.name === menuItem.name, 'disabled': menuItem.qty <= 0 }" @click="menuItem.qty > 0 ? toggleCone(index2) : null" >
    <h3><b>[[ menuItem.name ]]</b></h3>
      <p>[[ menuItem.description ]]</p>
      <p>Price: $[[ menuItem.price ]]</p>
  </div>
</div>
    <div class="text-center mt-8">
        <h1 class="text-2xl font-semibold">Choose Your Toppings</h1>
    </div>
    <div class="card-container">
      <div v-for="menuItem in toppingItems" :key="menuItem.id" v-bind:class="{ 'card': true, 'highlighted': selectedToppings.includes(menuItem), 'disabled': menuItem.qty <= 0 }" @click="menuItem.qty > 0 ? toggleTopping(menuItem) : null" >
        <h3><b>[[ menuItem.name ]]</b></h3>
          <p>[[ menuItem.description ]]</p>
          <p>Price: $[[ menuItem.price ]]</p>
      </div>
    </div>
    </div>
    <div class="text-center mt-8">
      <button @click="addCone" class="py-2 px-4 rounded font-bold mb-2" style="background-color: #FFAFCC; color: black;">Add another Ice Cream Cone to the Order</button>
    </div>
    <div class="text-center mt-8">
      <button @click="submitOrder" class="py-2 px-4 rounded font-bold mb-2" style="background-color: #FFAFCC; color: black;" href="{% url 'account' %}">Submit Order</button>
    </div>
</div>
{% endblock %}
