{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style type="text/tailwindcss">
        @layer utilities {
            #drone-management-table th, td {
                @apply p-3 border border-[#cbd5e0] text-center
            }

            #drone-management-table th {
                @apply bg-[#e2e8f0]
            }

            #drone-management-table tr:nth-child(even) {
                @apply bg-white
            }

            #drone-management-table tr:nth-child(odd) {
                @apply bg-[#edf2f7]
            }

            #drone-management-table td:last-child {
                @apply border-r-0
            }

            .action-buttons {
                @apply inline-block bg-[#4299e1] text-white p-2 px-4 rounded-md m-1 no-underline hover:bg-[#337fbe] transition ease-in-out duration-300 hover:scale-105
            }

            .summary-stats {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                padding: 15px;
                background-color: #d1e5f0;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        }
    </style>
{% endblock %}

{% block inner %}
    <div class="flex justify-center">
        <div class="relative max-w-fit bg-white rounded-xl overflow-hidden p-4 m-4">
            <h1 class="text-center text-bold mb-5 text-3xl">Manage My Drones</h1>
            {% if drones %}
                <div class="relative rounded-xl overflow-auto">
                    <table id="drone-management-table" class="">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Size</th>
                            <th>Weight (g)</th>
                            <th>Battery Capacity (mAh)</th>
                            <th>Battery Voltage (V)</th>
                            <th>Battery Level (%)</th>
                            <th>Status</th>
                            <th>Flight Range (km)</th>
                            <th>Hours Worked</th>
                            <th>Dollar Revenue</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for drone in drones %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ drone.name }}</td>
                                <td>{{ drone.owner }}</td>
                                <td>{{ drone.get_size_display }}</td>
                                <td>{{ drone.drone_weight_g }} g</td>
                                <td>{{ drone.battery_capacity_mAh }} mAh</td>
                                <td>{{ drone.battery_voltage }} v</td>
                                <td>{{ drone.get_battery_percentage }}%</td>
                                <td>{{ drone.get_drone_status }}</td>
                                <td>{{ drone.determine_flight_range_km }} km</td>
                                <td>{{ drone.hours_worked }}</td>
                                <td>{{ drone.dollar_revenue }}</td>
                                <td>
                                    <a href="{% url 'customer_edit_drone' drone.id %}" class="action-buttons"
                                       role="button">Edit</a>
                                    <a href="{% url 'customer_delete_drone' drone.id %}" class="action-buttons"
                                       role="button">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="margin-top: 20px;" class="summary-stats">
                        <p>Total Revenue: ${{ total_revenue }}</p>
                        <p>Average Hours Worked per Drone: {{ avg_hours_per_drone }} hours</p>
                        <p>Average Revenue per Drone: ${{ avg_rev_per_drone }}</p>
                    </div>
                </div>
            {% else %}
                <p class="text-xl font-semibold text-center">You don't have any drones yet.</p>
            {% endif %}
            <a class="action-buttons [&]:bg-[#4CAF50] hover:[&]:bg-[#39823c] [&]:mt-4"
               href="{% url 'customer_create_drone' %}">Add Drone</a>
        </div>
    </div>
{% endblock %}