{% include './topBar.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone ManageMent</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <main class="w-7/8 p-8 mx-auto">
        <h1 class="text-4xl font-bold mb-8">Manage My Drones</h1>
        {% if user_drones %}
        <table class="w-full border-collapse border">
            <thead>
                <tr>
                    <th class="border p-2"></th>
                    <th class="border p-2">Name</th>
                    <th class="border p-2">Owner</th>
                    <th class="border p-2">Size</th>
                    <th class="border p-2">Weight (g)</th>
                    <th class="border p-2">Battery Capacity (mAh)</th>
                    <th class="border p-2">Battery Voltage (V)</th>
                    <th class="border p-2">Battery Level (%)</th>
                    <th class="border p-2">Status</th>
                    <th class="border p-2">Flight Range (km)</th>
                    <th class="border p-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for drone in user_drones %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-white{% else %}bg-gray-100{% endif %} border">
                        <td class="border p-2">
                            {{ forloop.counter }}
                        </td>
                        <td class="border p-2">
                            {{ drone.name }}
                        </td>
                        <td class="border p-2">
                            {{ drone.owner }}
                        </td>
                        <td class="border p-2">
                            {{ drone.get_size_display }}
                        </td>
                        <td class="border p-2">
                            {{ drone.drone_weight_g }} g
                        </td>
                        <td class="border p-2">
                            {{ drone.battery_capacity_mAh }} mAh
                        </td>
                        <td class="border p-2">
                            {{ drone.battery_voltage }} v
                        </td>
                        <td class="border p-2">
                            {{ drone.get_battery_percentage }}%
                        </td>
                        <td class="border p-2">
                            {{ drone.get_drone_status }}
                        </td>
                        <td class="border p-2">
                            {{ drone.determine_flight_range_km }} km
                        </td>
                        <td class="border p-2">
                            <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2" onclick="window.location.href='{% url 'customer_add_drone' drone.id %}'">Edit</button>
                            <button class="bg-red-500 text-white px-4 py-2 rounded" onclick="window.location.href='{% url 'delete_drone' drone.id %}'">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        {% else %}
        <p class="text-xl font-semibold text-center">You don't have any drones yet.</p>
        {% endif %}
        <button class="bg-green-500 text-white px-4 py-2 rounded mt-4" onclick="window.location.href='{% url 'customer_add_drone' %}'">Add</button>
        <h1 class="text-3xl font-semibold mb-4">{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
