{% extends "account/base.html" %}

{% block head_title %}
    Password Reset
{% endblock head_title %}

{% block inner %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
        <p>You are already logged in.</p>
    {% endif %}
    <p>Enter your e-mail address below, and you will get an email to reset your password.</p>

    <form method="post" action="{% url 'account:password_reset' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Reset My Password">
    </form>
{% endblock inner %}
