{% extends "account/base.html" %}

{% block head_title %}
    Change Password
{% endblock head_title %}

{% block inner %}
    <h1>
        {% if validlink %}
            Change Password
        {% else %}
            Bad Token
        {% endif %}
    </h1>
    {% if validlink %}
        {% if form %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" name="action" value="Change Password">
            </form>
        {% else %}
            <p>Something isn't right. Try and refresh.</p>
        {% endif %}
    {% else %}
        <p>The password reset link was invalid, Please request a <a href="{% url 'account:password_reset' %}">new
            password reset</a>.</p>
    {% endif %}
{% endblock inner %}
