{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul>
            <li><a href="{% url 'inventory' %}">Inventory</a></li>
            <li><a href="{% url 'drone_management' %}">Drone Management</a></li>
            <li><a href="{% url 'sales' %}">Sales</a></li>
            <li><a href="{% url 'index' %}">home</a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>