{% extends 'DroneAdmin/base.html' %}

{% block title %}{{ action_title }} Topping{% endblock %}
{% block heading %}{{ action_title }} Topping{% endblock %}

{% block content %}
    <div class="bg-white p-4 shadow bg-gray-100">
        <form method="post">
            {% csrf_token %}

            <table class="table-auto w-full">
                <tr>
                    <td class="font-semibold">Name:</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td class="font-semibold">Price:</td>
                    <td>{{ form.price }}</td>
                </tr>
                <tr>
                    <td class="font-semibold">Quantity:</td>
                    <td>{{ form.qty }}</td>
                </tr>
            </table>

            <div class="mt-4 flex items-center">
                <button type="submit" class="flex bg-green-500 text-white px-4 py-2 rounded-md">Save</button>
                <a href="{% url 'inventory' %}" class="ml-2 text-gray-500">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}