{% extends 'base.html' %}

{% block title %}{{ action_title }} Flavor{% endblock %}
{% block heading %}{{ action_title }} Flavor{% endblock %}

{% block content %}
    <div class="bg-white p-4 shadow-lg rounded-lg">
        <form method="post">
            {% csrf_token %}
            <label class="block font-semibold text-gray-700">Flavor:</label>
            {{ form.flavor }}

            <label class="block font-semibold text-gray-700">Price:</label>
            {{ form.price }}

            <label class="block font-semibold text-gray-700">Quantity:</label>
            {{ form.qty }}

            <button type="submit" class=" flex bg-green-500 text-white px-4 py-2 rounded-md mt-2">Save</button>
        </form>
    </div>
    <a href="{% url 'inventory' %}" class="text-blue-500 mt-4">Back to Inventory</a>
{% endblock %}
