{% extends 'base.html' %}
{% load static %}
{% block css %}
	{{ block.super }}
    <link rel="stylesheet" href="{% static 'DroneAdmin/style.css' %}">
{% endblock %}
{% block inner %}


<div class="flex flex-col min-h-screen">
    <div class="flex flex-grow">
        <aside class="w-1/8 p-4 min-h-screen border-r border-gray-400">
            <h2 class="text-lg font-semibold mb-4">Administration</h2>
            <ul class="space-y-2 resolute">
                <li class="{% if request.resolver_match.url_name == 'order_history' %}border-l-4 border-blue-400{% endif %}">
                    <a href="{% url 'order_history' %}">Order History</a>
                </li>
                <li class="{% if 'drone_management' in request.resolver_match.url_name %}border-l-4 border-blue-400{% endif %}">
                    <a href="{% url 'drone_management' %}">Drone Management</a>
                </li>
                <li class="{% if 'inventory' in request.resolver_match.url_name %}border-l-4 border-blue-400{% endif %}">
                    <a href="{% url 'inventory' %}">Inventory</a>
                </li>
                <li class="{% if 'user_management' in request.resolver_match.url_name %}border-l-4 border-blue-400{% endif %}">
                    <a href="{% url 'user_management' %}">User Management</a>
                </li>
                <li class="{% if 'sales' in request.resolver_match.url_name %}border-l-4 border-blue-400{% endif %}">
                    <a href="{% url 'sales' %}">Sales</a>
                </li>
            </ul>
        </aside>
        <main class="w-7/8 p-8">
            <h1 class="text-3xl font-semibold mb-4">{% block heading %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
