{% extends 'DroneAdmin/base.html' %}

{% block title %}Drone Management{% endblock %}
{% block heading %}Drone Management{% endblock %}

{% block content %}
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50"></th>
                <th class="px-6 py-3 bg-gray-50">Name</th>
                <th class="px-6 py-3 bg-gray-50">Owner</th>
                <th class="px-6 py-3 bg-gray-50">Size</th>
                <th class="px-6 py-3 bg-gray-50">Weight (g)</th>
                <th class="px-6 py-3 bg-gray-50">Battery Capacity (mAh)</th>
                <th class="px-6 py-3 bg-gray-50">Battery Voltage (V)</th>
                <th class="px-6 py-3 bg-gray-50">Battery Level (%)</th>
                <th class="px-6 py-3 bg-gray-50">Status</th>
                <th class="px-6 py-3 bg-gray-50">Flight Range (km)</th>
                <th class="px-6 py-3 bg-gray-50">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for drone in drones %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% endif %}">
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ forloop.counter }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.name }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.owner }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.get_size_display }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.drone_weight_g }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.battery_capacity_mAh }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.battery_voltage }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.get_battery_percentage }}%
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.get_drone_status }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ drone.determine_flight_range_km }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <button onclick="window.location.href='{% url 'add_drone' drone.id %}'" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-2">Edit</button>
                        <button onclick="window.location.href='{% url 'delete_drone' drone.id %}'" class="bg-red-500 text-white px-4 py-2 rounded-md mt-2">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='{% url 'add_drone' %}'" class="block bg-green-500 text-white px-4 py-2 rounded-md mt-2">Add</button>
{% endblock %}