{% extends 'DroneAdmin/base.html' %}

{% block title %}{{ action_title }} User{% endblock %}
{% block heading %}{{ action_title }} User{% endblock %}

{% block content %}
    <div class="bg-white p-4 shadow-lg rounded-lg">
        <form method="post">
            {% csrf_token %}
            <label class="block font-semibold text-gray-700">Username:</label>
            {{ user_form.username }}
             <label class="block font-semibold text-gray-700">Email:</label>
            {{ user_form.email }}
             <label class="block font-semibold text-gray-700">Admin:</label>
            {{ user_form.is_staff }}

            <label class="block font-semibold text-gray-700">Phone:</label>
            {{ profile_form.phone }}

            <label class="block font-semibold text-gray-700">Address:</label>
            {{ profile_form.address }}

            <label class="block font-semibold text-gray-700">Drone owner:</label>
            {{ profile_form.drone_owner }}

            <button type="submit" class="flex bg-green-500 text-white px-4 py-2 rounded-md mt-2">Save</button>
        </form>
    </div>
    <a href="{% url 'user_management' %}" class="block mt-4">Cancel</a>
{% endblock %}