{% extends 'DroneAdmin/base.html' %}

{% block title %}Orders{% endblock %}
{% block heading %}Orders{% endblock %}

{% block content %}
    <table class="min-w-full divide-y divide-gray-200 shadow bg-gray-100">
        <thead>
            <tr>
                <th class="px-6 py-3">Order ID</th>
                <th class="px-6 py-3">User</th>
                <th class="px-6 py-3">Ice Cream Cones</th>
                <th class="px-6 py-3">Status</th>
                <th class="px-6 py-3">Drone</th>
                <th class="px-6 py-3">Created At</th>
                <th class="px-6 py-3">Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.pk }}</td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.user.username }}</td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">
                        {% for cone_details in order.cones %}
                            <p><strong>Size:</strong> {{ cone_details.size }}</p>
                            <p><strong>Flavor:</strong> {{ cone_details.flavor.flavor }}</p>
                            <p><strong>Flavor Price:</strong> ${{ cone_details.flavor.price }}</p>
                            <p><strong>Toppings:</strong></p>
                            <ul>
                                {% for topping in cone_details.toppings %}
                                    <li>{{ topping.name }} - ${{ topping.price }}</li>
                                {% endfor %}
                            </ul>
                            <p><strong>Cone:</strong> {{ cone_details.cone.name }}</p>
                            <p><strong>Cone Price:</strong> ${{ cone_details.cone.price }}</p>

                            <p><strong>Total Price:</strong> ${{ cone_details.price }}</p>
                            <hr>
                        {% endfor %}
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.get_status_display }}</td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.drone }}</td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.created_at }}</td>
                    <td class="px-6 py-3 whitespace-nowrap text-center">{{ order.updated_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}