{% extends 'DroneAdmin/base.html' %}

{% block title %}Orders{% endblock %}
{% block heading %}Orders{% endblock %}

{% block content %}
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-white">Order ID</th>
                <th class="px-6 py-3 bg-white">User</th>
                <th class="px-6 py-3 bg-white">Drone</th>
                <th class="px-6 py-3 bg-white">Cones</th>
                <th class="px-6 py-3 bg-white">Status</th>
                <th class="px-6 py-3 bg-white">Created At</th>
                <th class="px-6 py-3 bg-white">Updated At</th>
            </tr>
        </thead>
        <tbody>
{#            {% for order in order_list %}#}
{#                <tr class="{% if forloop.counter|divisibleby:2 %}bg-white{% endif %}">#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.pk }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.user.name }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.drone.name }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.cones }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.get_status_display }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.created_at }}</td>#}
{#                    <td class="px-6 py-3 whitespace-nowrap">{{ order.updated_at }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
        </tbody>
    </table>
{% endblock %}