{% extends 'DroneAdmin/base.html' %}

{% block title %}Sales{% endblock %}
{% block heading %}Sales{% endblock %}

{% block content %}
<section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Ice Cream Flavors Sales</h2>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-white">Flavor</th>
                <th class="px-6 py-3 bg-white">Quantity Sold</th>
                <th class="px-6 py-3 bg-white">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in ice_cream_sales %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-white{% endif %}">
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.flavor }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.qty_sold }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">${{ sale.total_revenue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Cones Sales</h2>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-white">Name</th>
                <th class="px-6 py-3 bg-white">Quantity Sold</th>
                <th class="px-6 py-3 bg-white">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in cone_sales %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-white{% endif %}">
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.name }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.qty_sold }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">${{ sale.total_revenue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Toppings Sales</h2>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-white">Name</th>
                <th class="px-6 py-3 bg-white">Quantity Sold</th>
                <th class="px-6 py-3 bg-white">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in topping_sales %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-white{% endif %}">
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.name }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">{{ sale.qty_sold }}</td>
                    <td class="px-6 py-3 whitespace-nowrap">${{ sale.total_revenue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Total Sales</h2>
    <p class="text-xl">Total Revenue: ${{ total_revenue }}</p>
</section>
{% endblock %}