{% extends 'DroneAdmin/base.html' %}

{% block title %}Users{% endblock %}
{% block heading %}Users{% endblock %}

{% block content %}
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50"></th>
                <th class="px-6 py-3 bg-gray-50">Username</th>
                <th class="px-6 py-3 bg-gray-50">Email</th>
                <th class="px-6 py-3 bg-gray-50">Phone</th>
                <th class="px-6 py-3 bg-gray-50">Address</th>
                <th class="px-6 py-3 bg-gray-50">Drone Owner</th>
                <th class="px-6 py-3 bg-gray-50">Admin</th>
                <th class="px-6 py-3 bg-gray-50">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                 <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% endif %}">
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ forloop.counter }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ user.username }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ user.profile.phone }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ user.profile.address }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        {% if user.profile.drone_owner %}
                            <span class="text-green-600">&#x2713;</span>
                        {% else %}
                            <span class="text-red-500">✘</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        {% if user.is_superuser or user.is_staff%}
                            <span class="text-green-600">&#x2713;</span>
                        {% else %}
                            <span class="text-red-500">✘</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <button onclick="window.location.href='{% if user.id %}{% url 'edit_user' user.id %}{% endif %}'" class="bg-blue-500 text-white px-4 py-2 rounded-md transition duration-300 ease-in-out transform hover:scale-105">Edit</button>
                        <button onclick="window.location.href='{% if user.id %}{% url 'delete_user' user.id %}{% endif %}'" class="bg-red-500 text-white px-4 py-2 rounded-md ml-2 transition duration-300 ease-in-out transform hover:scale-105">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}